html { width:100%; text-align:center; font-size:12px; }
body { margin:0; padding:0; width:100%; font-family:tamoha, Arial, "宋体"; background:url(images/body_bg.gif) repeat left top;}
div, form, img, ul, ol, li, dl, dt, dd, table, td, tr, th, p, span { margin: 0; padding: 0; border: 0; font-size: 12px; }
li { list-style-type: none; text-align: left; }
select, input, button { font-size: 12px; font-family: Arial, "宋体" }
em { font-style: normal; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-size: 12px; }
img { vertical-align: middle; text-align: center; }
a:link ,a:visited{text-decoration: none; color:#444;}
a:hover { text-decoration:underline; color:#155fbe; }
button{cursor:pointer;}
/******************框架**********************/
.body_main{background:url(images/main_bg.png) repeat-y center top; width:917px; padding:0px 71px;  margin: 0px auto;  }
.topframe_01{background:url(images/head.jpg) no-repeat center top; height: 188px; width: 100%;}
.topframe_03{overflow:hidden; margin-bottom:5px;}
.mainframe{overflow:hidden;}
.mainframe_01{margin-bottom:15px; overflow:hidden;}
.botframe{position:relative;}
/*======================登录========================*/
.UrlPortlet01 h3{display:none;}
.UrlPortlet01 li{float:left; padding:10px;}
.UrlPortlet01 li a{color:#fff;}
/*======================导航========================*/
.Navigation_01 {width:100%; height:36px; background:#e5dfaa;}
.Navigation_01 h3 {display:none;}
.Navigation_01 li {float:left;}
.Navigation_01 li a span {font:bold 12px/36px "宋体"; color:#a18240; padding:0px 26px;}
.Navigation_01 li a:hover{text-decoration:none;color:#e5dfaa;}
.Navigation_01 li a:hover span{background:url(images/ic_01.gif) no-repeat 18px center;}
.Navigation_01 .current a span{background:url(images/ic_01.gif) no-repeat 18px center;}
/*======================通知========================*/
.NewsList_01{float:left; width:350px; line-height:40px; height:40px;}
.NewsList_01 h3{display:none;}
.NewsList_01 li span{display:none;}
.NewsList_01 li a{float:left; background:url(images/ic_02.gif) no-repeat left center; padding-left:10px;}
.NewsList_01 li .time{display:block; float:right;}
/*======================天气预报========================*/
.IframeIntegration{float:left; height:20px; padding:10px 0px; margin-left:10px;}
.IframeIntegration h3{display:none;}
/*======================搜索========================*/
.WebsiteSearch_01{float:right; padding:9px 0px; width:230px; }
.WebsiteSearch_01 h3,.WebsiteSearch_01 .lanm,.WebsiteSearch_01 .gjz label{display:none;}
.WebsiteSearch_01 dl{border:1px solid #dcc5a8; overflow:hidden;}
.WebsiteSearch_01 input{float:left;height:20px; line-height:20px;border:0; width:160px; padding-left:25px; background:url(images/ic_03.gif) no-repeat 5px center;}
.WebsiteSearch_01 button{float:right; width:40px; height:22px; background:#cfb889; border:none; color:#fff; padding:0px;}
/*======================焦点图========================*/
.NewsPicControl{float:left;}
.NewsPicControl h3{display:none;}
/*======================校园新闻tab========================*/
.CompTabControl_01 {float:right; width:522px; height:279px; overflow:hidden; border:2px solid #dcc5a8;}
.CompTabControl_01 h2 {display:none; }
.CompTabControl_01 .comp_title{background:#d4b889 url(images/new_titbg.gif) no-repeat left top; padding-left:55px; margin-bottom:10px; border-bottom:1px solid #dcc5a8; height:26px;}
.CompTabControl_01 .comp_title li { float:left; padding-right:15px;}
.CompTabControl_01 .comp_title li a {display:block; font:bold 12px/26px "宋体"; color:#fff; padding:0px 10px;}
.CompTabControl_01 .comp_title .ha a { color:#b08630; background:#fff; border-bottom:1px solid #fff;}
.CompTabControl_01 .sw { float:left; width:100%;}
.CompTabControl_01 .sw h3 {position:relative; }
.CompTabControl_01 .sw h3 a { position:absolute; right:10px; top:-32px; color:#fff;}
.CompTabControl_01 .sw .topnews{display:none;}
.CompTabControl_01 .sw .con li { float:left; line-height:26px;height:26px; background:url(images/ic_02.gif) no-repeat 10px center; text-indent:20px; width:100%;}
.CompTabControl_01 .sw .con li a{float:left;}
.CompTabControl_01 .con li .time{float:right; color:#666; padding-right:10px;}
.CompTabControl_01 .hd, .CompTabControl_01 .sw h3 span, .CompTabControl_01 .con li .new, .CompTabControl_01 .con li .pic, .CompTabControl_01 .con li .type{ display:none; }
/*==========简单新闻列表2===========*/
.NewsList_02 { width:230px; height:380px; border:2px solid #dcc5a8; float:left; margin-right:15px;}
.NewsList_02 h3 { width:100%; background:#d4b889 url(images/new_titbg.gif) no-repeat left top; height:26px; line-height:26px; border-bottom:1px solid #dcc5a8; margin-bottom:10px;}
.NewsList_02 h3 span { color:#fff; font-weight:bold; padding-left:55px; float:left;}
.NewsList_02 h3 a {float:right; padding-right:10px; color:#fff;}
.NewsList_02 li {height:26px; line-height:26px;}
.NewsList_02 li span{ display:none;}
.NewsList_02 li a{background:url(images/ic_02.gif) no-repeat 10px center; padding-left:20px;}
/*======================校内链接tab========================*/
.CompTabControl_02 {float:left; width:421px; height:380px; overflow:hidden; border:2px solid #dcc5a8;}
.CompTabControl_02 h2 {display:none; }
.CompTabControl_02 .comp_title{background:#d4b889 url(images/new_titbg.gif) no-repeat left top; padding-left:55px; margin-bottom:10px; border-bottom:1px solid #dcc5a8; height:26px;}
.CompTabControl_02 .comp_title li { float:left; padding-right:15px;}
.CompTabControl_02 .comp_title li a {display:block; font:bold 12px/26px "宋体"; color:#fff; padding:0px 10px;}
.CompTabControl_02 .comp_title .ha a { color:#b08630; background:#fff; border-bottom:1px solid #fff;}
.CompTabControl_02 .sw { float:left; width:100%;}
.CompTabControl_02 .sw h3 {position:relative; }
.CompTabControl_02 .sw h3 a { position:absolute; right:10px; top:-32px; color:#fff;}
.CompTabControl_02 .sw .topnews{display:none;}
.CompTabControl_02 .sw li {float:left; margin:10px 0px 0px 10px;}

.CompTabControl_02 .sw .con li { float:left; line-height:26px;height:26px; background:url(images/ic_02.gif) no-repeat 10px center; text-indent:20px; width:100%;}
.CompTabControl_02 .sw .con li a{float:left;}
.CompTabControl_02 .con li .time{float:right; color:#666; padding-right:20px;}

.CompTabControl_02 h3,.CompTabControl_02 h5{ display:none; }
/*==========简单新闻列表3===========*/
.NewsList_03 { width:230px; height:380px; border:2px solid #dcc5a8; float:right;}
.NewsList_03 h3 { width:100%; background:#d4b889 url(images/new_titbg.gif) no-repeat left top; height:26px; line-height:26px; border-bottom:1px solid #dcc5a8; margin-bottom:10px;}
.NewsList_03 h3 span { color:#fff; font-weight:bold; padding-left:55px; float:left;}
.NewsList_03 h3 a {float:right; padding-right:10px; color:#fff;}
.NewsList_03 li {height:26px; line-height:26px;}
.NewsList_03 li span{ display:none;}
.NewsList_03 li a{background:url(images/ic_02.gif) no-repeat 10px center; padding-left:20px;}
/*==========友情链接===========*/
.PicUrlPortlet02{float:left; border:2px solid #dcc5a8; width:915px; margin-top:15px; padding-bottom:20px;}
.PicUrlPortlet02 h3{width:100%; background:#d4b889 url(images/new_titbg.gif) no-repeat left top; height:26px; line-height:26px; border-bottom:1px solid #dcc5a8;}
.PicUrlPortlet02 h3 span { color:#fff; font-weight:bold; padding-left:55px; float:left;}
.PicUrlPortlet02 li{float:left; margin:20px 0px 0px 10px;}
/*======================底部========================*/
.TextDisplay_05{width:100%; border-top:3px solid #aeaeae; margin-top:15px; background:url(images/foot_bg1.gif) no-repeat left 3px;}
.TextDisplay_05 h3{display:none;}
.TextDisplay_05 .con{padding:20px 0px; background:url(images/foot_bg2.gif) no-repeat right 3px;}
.TextDisplay_05 p{line-height:24px; color:#777;}
/*======================微信========================*/
.TextDisplay_06{position:absolute; right:50px; top:10px;}
.TextDisplay_06 h3{display:none;}

























