<style>
.item-icon-right .icon {
	font-size: 20px
}
</style>
<ion-view title="{{title}}" ng-controller="homeCtrl">
	<ion-header-bar class="bar bar-header bar-positive">
		<h2 class="title">{{title}}</h2>
	</ion-header-bar>
	<ion-content >
		<div class="content" ng-if="tab==1">
			<div class="item item-input item-select" >
			    <div class="input-label">
			      选择课程
			    </div>
			    <select ng-change="change(x)" ng-model="x">
			      <option ng-repeat="kc in kclist" value="{{kc.id}}">{{kc.flmc}}</option>
			    </select>
			</div>
			<div class="list" >
				<div class="item item-icon-right" ng-repeat="zj in kc" ng-click="zjinfo(zj.id,zj.flmc)">{{zj.flmc}}<i class="icon ion-ios-arrow-right" ></i></div>
			</div>
		</div>
		<div class="content" ng-if="tab==2">
			<ion-radio ng-repeat="kc in kclist"  ng-click="selkc(kc.id,kc.flmc)" ng-value="{{kc.id}}" ng-model="xzkc">
            	{{kc.flmc}}
            </ion-radio>
            <div class="padding-left padding-right">
            	<input type="button" class="button button-block button-positive" ng-click="doTest()" ng-disabled="dis" value="进行测试">
            </div>
		</div>
		<div class="content" ng-if="tab==3">
			3
		</div>
		<div class="content" ng-if="tab==4">
			4
		</div>
	</ion-content>
	<div class="tabs tabs-light tabs-icon-top tabs-color-positive">
      <a class="tab-item"  ng-class="{'active':tab==1}"  ng-click="chatab(1)">
        <i class="icon ion-ios-book"></i>
        <ion-nav-view name="zj"></ion-nav-view>
        	章节练习
      </a>
      <a class="tab-item"  ng-class="{'active':tab==2}"  ng-click="chatab(2)">
        <i class="icon ion-ios-compose"></i>
        	模拟测试
      </a>
      <a class="tab-item"  ng-class="{'active':tab==3}"  ng-click="chatab(3)">
        <i class="icon ion-ios-close"></i>
        	错题库
      </a>
      <a class="tab-item"  ng-class="{'active':tab==4}"  ng-click="chatab(4)">
        <i class="icon ion-ios-bell"></i>
        	我
      </a>
    </div>
    
</ion-view>