<ion-tabs class="tabs-icon-top tabs-stable tabs-color-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="章节练习"  icon-off="icon ion-ios-book-outline" icon-on="icon ion-ios-book" href="#/tab/zjtest">
        <ion-nav-view name="zjtest"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="模拟测试"   icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/mntest">
        <ion-nav-view name="mntest"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="错题库" icon-off="ion-ios-close-outline" icon-on="ion-ios-close" href="#/tab/ctk">
        <ion-nav-view name="ctk"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/tab/me">
        <ion-nav-view name="me"></ion-nav-view>
    </ion-tab>


</ion-tabs>